@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: "Inter", "Be Vietnam Pro", "Poppins", sans-serif;
    --cor-saiba-mais: blue;
    --cor-comprar-agora: white;
}

*{
    font-family: var(--font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-color: #ffffff00;
}

header{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

header > div > .hamburguer{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    top: 8px;
}

header > div > .hamburguer span {
    width: 100%;
    height: 3px;
    background: black;
    transition: .3s;
}

.hamburguer.active span:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}


.hamburguer.active span:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}

header > div > nav > ul {
    position: absolute;
    left: -70px;
    list-style-type: none;
    height: auto;
    padding: 3px 6px;
    background-color: rgba(128, 128, 128, 0.856);
}

header > div > nav > ul > li{
    padding: 15px 8px;
}

header > div > nav > ul > li:hover{
    text-decoration: underline;
    color: white;
}

header > div > nav > ul > li > a{
    color: white;
}

#menu{
    position: absolute;
    top: 70px;
    display: none;
    flex-direction: column;
    transform: translateY(-10px);
    transition: max-height 2s ease,
    opacity 2s ease,
    transform 2s ease;
}

#menu.active {
    display: flex;
    opacity: 2;
    transform: translateY(0);
}

header > div > nav a{
    -webkit-tap-highlight-color: transparent;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

header > h1{
    font-size: 1.8rem;
}
header > p{
    font-size: 1.5rem;
    font-weight: bolder;
}

main > .informacoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

main > .informacoes > h1{
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    margin: auto;
    position: relative;
    left: 20px;
}

main > .informacoes > img{
    place-self: center;
    width: 180px;
    height: 180px;
}

main > .informacoes > p{
    grid-column: 1 / -1;
    font-size: 1.1rem;
    text-align: center;
    margin: 0px 15px;
    padding: 30px 0px 35px 0px;
}

main > .informacoes > a{
    -webkit-tap-highlight-color: transparent;
    width: 160px;
    height: 60px;
    margin-left: 30px;
    padding: 13px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 13px;
    color: white;
    background-color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
    left: -10px;
}

main > .informacoes > a.comprar:hover{
    background-color: white;
    color: blue;
}

main > .informacoes > a.saiba{
    background-color: white;
    color: blue;
    font-weight: bold;
    position: relative;
    left: -22px;
}

main > .informacoes > a.saiba:hover{
    background-color: blue;
    color: white;
}

main > .recursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

main > .recursos > h1{
    font-size: 1.4rem;
    padding: 35px 25px 0px 15px;
    grid-column: 1 / -1 ;
}

main > .recursos > div{
    background-color: white;
    width: 100%;
    height: auto;
    place-self: center;
    padding: 20px;
}

main > .recursos> div > h2{
    font-size: 1.19rem;
}

main > .recursos > div > p{
    font-size: 1rem;
}

div:nth-child(3){
    width: 100%;
    grid-template-columns: 1 / -1;
    place-self: center;
}

@media screen and (min-width: 412px){
    main > .informacoes > a{
        place-self: center;
        margin-right: 10px;
        position: relative;
        left: 4px;
    }
}

@media screen and (min-width: 768px){

    header{
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    header > h1 {
        font-size: 2.5rem;
    }

    header > div > #paragrafo{
        display: none;
    }

    header > div > #menu{
        display: block;
        font-size: 1.2rem;
    }

    header > div > nav > ul{
        background-color: transparent;
        position: relative;
        left: 35px;
        display: flex;
        justify-content: space-between;
    }

    header > div > nav > ul > li{
        padding-right: 20px;
    }

    header > div > nav > ul > li > a{
        color: black;
        padding: 0px 10px;
    }

    header > div > nav > ul > li > a:hover {
        text-decoration: underline;
    }

    main > .informacoes > h1{
        font-size: 3rem;
        text-indent: 40px;
    }

    main > .informacoes > img{
        width: 230px;
        height: 230px;
    }

    main > .informacoes > p{
        font-size: 1.5rem;
    }

    main > .informacoes > a{
        width: 220px;
        height: 70px;
        padding: 20px;
        font-size: 1.3rem;
        position: relative;
        left: 90px;
        margin-right: 100px;
    }

    main > .informacoes > a.sabia{
        position: relative;
    }

    main > .recursos > h1{
        font-size: 1.5rem;
        padding-left: 30px;
    }

    main > .recursos > div > img{
        width: 30px;
        height: 30px;
    }

    main > .recursos > div{
        text-align: center;
    }

    main > .recursos > div.ultimo{
        grid-column: 1 / -1;
        text-align: center;
    }

    main > .recursos > div > h2{
        font-size: 1.3rem;
    }

    main > .recursos > div > p{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1280px){
    header > h1{
        font-size: 2rem;
    }

    header > div > #menu{
        font-size: 1rem;
    }

    main > .informacoes{
        gap: 20px;
    }

    main > .informacoes > h1{
        font-size: 2.3rem;
        text-indent: 200px;
    }

    main > .informacoes > img{
        width: 180px;
        height: 180px;
    }

    main > .informacoes > p{
        font-size: 1.5rem;
    }

    main > .informacoes > a{
        height: 55px;
        font-size: 1.2rem;
        padding: 15px;
        place-self: end;
    }

    main > .informacoes > a.saiba{
        place-self: start;
    }

    main > .recursos{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main > .recursos > h1{
        padding: 50px 40px;
        font-size: 1.7rem;
    }

    main > .recursos > div.ultimo{
        grid-column: auto;
    }

    main > .recursos > div > img{
        width: 30px;
        height: 30px;
    }

    main > .recursos div > h2{
        font-size: 1rem;
    }

    main > .recursos > div > p{
        font-size: 0.8rem;
    }
}